<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Akanksha's idea</title>
	<meta name='description' content='Simple and clean HTML coming soon / under construction page'/>
	<meta name='keywords' content='coming soon, html, html5, css3, css, under construction'/>	
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen, projection" />
	<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'> 

</head>
<body>
	<div id="wrapper">
		<h1>Systers</h1>
		<p>Contact us via</p>
		<p><a href="https://www.facebook.com/anitaborginstitute"><img src="/static/img/fb.png" alt="Facebook" /></a> <a href="https://plus.google.com/+AnitaborgOrg/posts"><img src="/static/img/+.png" alt="Google +" /></a> <a href="https://twitter.com/anitaborg_org"><img src="/static/img/twitter.png" alt="Twitter" /></a></p>
	<p> Or simply contact : abc@systers.org </p>
	</div>
	

</body>
</html>
